
body{
    font-family: var(--font-family);
}

h1, h2{
    font-size: var(--text-preset-1);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-900);
}

h3{
    font-size: var(--text-preset-2);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-900);
}
h4{
    font-size: var(--text-preset-4);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-900);
}
h5{
    font-size: var(--text-preset-3);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-900);
}
p{
   font-size: var(--text-preset-4);
    font-weight: var(--font-weight-regular); 
}

small{
    font-size: var(--text-preset-5);
    font-weight: var(--font-weight-regular); 
    color: var(--color-grey-500);
}

label{
    font-size: var(--text-preset-5);
    font-weight: var(--font-weight-bold);
    color: var(--color-grey-500);
}

@media (max-width: 800px) {

}
@media (max-width: 500px) {

}
