@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  /* =========================
     COLORS
  ========================== */

  /* Neutrals */
  --color-beige-500: rgba(152, 144, 139, 1);
  --color-beige-100: rgba(248, 244, 240, 1);

  --color-grey-900: rgba(32, 31, 36, 1);
  --color-grey-500: rgba(105, 104, 104, 1);
  --color-grey-300: rgba(179, 179, 179, 1);
  --color-grey-100: rgba(242, 242, 242, 1);

  --color-white: rgba(255, 255, 255, 1);

  /* Semantic / Accent */
  --color-green: rgba(39, 124, 120, 1);
  --color-yellow: rgba(242, 205, 172, 1);
  --color-cyan: rgba(130, 201, 215, 1);
  --color-navy: rgba(98, 96, 112, 1);
  --color-red: rgba(201, 71, 54, 1);
  --color-purple: rgba(130, 108, 176, 1);
  --color-turquoise: rgba(89, 124, 124, 1);
  --color-brown: rgba(147, 103, 79, 1);
  --color-magenta: rgba(147, 79, 111, 1);
  --color-blue: rgba(63, 130, 178, 1);
  --color-navy-grey: rgba(151, 160, 172, 1);
  --color-army-green: rgba(127, 145, 97, 1);
  --color-pink: rgba(175, 129, 186, 1);
  --color-gold: rgba(202, 179, 97, 1);
  --color-orange: rgba(190, 108, 73, 1);

  /* =========================
     SPACING SCALE
  ========================== */

  --space-50: 0.25rem;
  --space-100: 0.5rem;
  --space-150: 0.75rem;
  --space-200: 1rem;
  --space-250: 1.25rem;
  --space-300: 1.5rem;
  --space-400: 2rem;
  --space-500: 2.5rem;


    /* =========================
     FONT FAMILY
  ========================== */
   --font-family: 'Public Sans', sans-serif;


  /* =========================
     FONT SIZES
  ========================== */

  --text-preset-1: 2rem;
  --text-preset-2: 1.25rem;
  --text-preset-3: 1rem;
  --text-preset-4: 0.875rem;
  --text-preset-5: 0.75rem;

  /* =========================
     FONT WEIGHTS
  ========================== */

  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* =========================
     LINE HEIGHTS
  ========================== */

  --line-height-150: 150%;
  --line-height-120: 120%;

    /* =========================
     BORDER RADIUS
  ========================== */
   --border-radius-primary: 0.75rem;
   --border-radius-secondary: 0.5rem;
   --border-radius-full: 50%;


}