.btn{
    padding: var(--space-200);
    border-radius: var(--border-radius-secondary);
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn--light{
    border: 1px solid var(--color-grey-500);
    gap: var(--space-200);
}
.btn--dark{
    background-color: var(--color-grey-900);
    color: var(--color-white);
    gap: var(--space-200);
}

.btn--danger{
    background-color: var(--color-red);
    color: var(--color-white);
    font-weight: var(--font-weight-bold);
}
.btn--delete{
    color: var(--color-red);
}
.btn--transparent{
    color: var(--color-grey-500);
}

.btn--light:hover{
    background-color: var(--color-beige-500);
    color: var(--color-white);
}
.btn--light:focus{
    background-color: var(--color-grey-900);
    color: var(--color-white);

}