.bar{
    background-color: var(--color-beige-100);
    border-radius: var(--space-50);
}
.bar--inner{
    height: 100%;
    width: 50%;
    border-radius: var(--space-50);
    background-color: var(--color-red);
}
@media (max-width: 800px) {

}
@media (max-width: 500px) {

}
