.bar{
    background-color: var(--color-beige-100);
    border-radius: var(--space-50);
    position: relative;

}
.bar--inner{
    height: 100%;
    width: 50%;
    border-radius: var(--space-50);
    background-color: var(--color-red);
}

.widthdraw-form-progress{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    margin-left: 0.13rem;
    height: 100%;
    border-top-right-radius: var(--space-50);
    border-bottom-right-radius: var(--space-50);
}

