.transactions-content{
    gap: var(--space-300);
    min-width: 88%;
}

/* Drop Down */
.search-dropdown-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 0;
    
}
.dropdowns{
    display: flex;
    gap: var(--space-300);
    align-items: center;
}
.dropdown-wrapper{
    display: flex;
    gap: var(--space-100);
    align-items: center;
}
.dropdown-btn{
    padding: var(--space-150) var(--space-250);
    display: flex;
    align-items: center;
    gap: var(--space-200);
    border: 0.0625rem solid var(--color-beige-500);
    border-radius: var(--border-radius-secondary);
}
/* Table */

.table-heading{
    display: grid;
    grid-template-columns: 2fr 0.6fr 0.6fr 1fr;
    padding: var(--space-150) var(--space-200);
    border-bottom: 1px solid var(--color-grey-100);
}
.table-heading small:last-child{
    text-align: end;
}
.table-row{
   display: grid;
   grid-template-columns: 2fr 0.6fr 0.6fr 1fr;
   align-items: center;
   padding: var(--space-200);
    border-bottom: 1px solid var(--color-grey-100);
}
.table-row:last-child{
    border-bottom: none;
    padding-bottom: 0;
}
.table-row:first-child{
    padding-top: 0;
}
.table-row div:last-child{
    text-align: end;
}
.image-title{
    display: flex;
    gap: var(--space-200);
    align-items: center;
}
.image-title img{
    width: var(--space-500);
    height: var(--space-500);
    border-radius: 50%;
}
.btn-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pagination-wrapper{
    display: flex;
    gap: var(--space-100);
}
button span{
    font-size: var(--text-preset-4);
}
.filter-btn, .sort-btn{
    display: none;
}
#transactionDate, #category{
    text-align: center;
}
.transaction-category,.transaction-date{
    text-align: center;
}
[data-pagination]{
    height: 100%;
}

@media (max-width: 740px) {
    .transactions-content{
        padding: var(--space-300) var(--space-250);
    }
    #dropdown-btn, #filter{
        display: none;
    }
    .filter-btn, .sort-btn{
        display: block;
    }
    .table-heading{
        display: none;
    }
    .table-row{
        grid-template-columns: 1fr 1fr;
    }
    .transaction-amount{
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        place-content: center;
    }
    .transaction-date{
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }
    .transaction-category{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #sort-btn{
        display: none;
    }
    
    [data-pagination] span{
        display: none;

    }

}